$light_green: #afc67b;
$light_green_plus: #b8ee0c;
$middle_green: #aac078;
$dark_green: #9baf6d;
$background_green: rgba(78, 83, 66, 0.8);
$special_white: #e7e7e7;
$special_white_alt1: #eaeaea;
$special_white_alt2: #dcdcdb;
$special_grey: #4f4e4e;
$light_grey: #555555;
$grey: #212121;