.container {
    width: 1195px;
    margin-left: auto;
    margin-right: auto;
}
.container-collage {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.mb20{
    margin-bottom: 20px;
}
.mb28 {
    margin-bottom: 28px;
}
.mb35 {
    margin-bottom: 35px;
}
.mb50{
    margin-bottom: 50px;
}
.mr370{
    margin-right: 400px;
    margin-left: 100px;
}
.mb15{
    margin-bottom: 15px;
}
.mb24{
    margin-bottom: 24px;
}
.tradition-img {
    width: 270px;
    height: 270px;
}
.tradition-description {
    width: 270px;
    height: 270px;
}
.make-flex {
    display: flex;
}
.make-flex-row {
    display: flex;
    flex-direction: row;
}
.make-flex-column {
    display: flex;
    flex-direction: column;
}
.text-align-center {
    text-align: center;
}
.give-height-270 {
    height: 270px;
}

.description-txt {
    width: 180px;
    height: 160px;

    margin: auto;
}

.discover-section-w-h {
    height: 100px;
    width: 430px;

}

.discover-section-icon {
    width: 170px;
    height: 100%;


    background: #e7e7e7;
    border: solid 1px black;

    border-radius: 100%;

    margin-right: 15px;
}

.center {
    margin: auto;
}

.new-menu-img {
    width: 340px;
    height: 300px;
}

.new-menu-desc {
    width: 339px;
    height: 200px;

    background: #e5e5e5;
}

.middle {
    width: 280px;
    height: 165px;

    margin: auto;
}

.read-more {
    text-transform: uppercase;
    cursor: pointer;
}

.green {
    width: 104px;
    height: 8px;

    background-color: #afc67b;
}

.about-headers {
    font-size: 25px;
    text-transform: uppercase;
}