@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GoodDog Cool";
    src: url("../fonts/GoodDog-cool.TTF");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GoodDog Plain";
    src: url("../fonts/GoodDog-plain.TTF");
    font-style: normal;
    font-weight: normal;
}

.header-typo {
    font-family: "Montserrat Regular";
    color: #afc67b;
    font-size: 30px;
    font-style: normal;
    text-transform: uppercase;
}
